body {
    font-family:'Hanken Grotesk', Arial, Helvetica, sans-serif;
    background-color:#025a87;
    margin:0px;
}
#header {
    background-color:#ffb134;
    padding: 10px 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#content {
    background-color:#ffb134;
    padding:10px 20px;
    max-width:1000px;
    width:90%;
    margin:auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
